@{

    Layout = "~/Views/Shared/_LayoutInv.cshtml";
}

<div class="card card-body p-3 mt-4">
    <div class="align-content-center text-center">
        <hgroup>
            <h3>Sorry.</h3>
            <h4>You dont have permission to access this page.</h4>
            <h4>Contact admin page if you encounter any problem.</h4>

        </hgroup>
        <div class="mt-3">
            <a class="btn btn-outline-dark btn-sm" href="/Investor/Invdashboard">Home</a>
        </div>

    </div>
   

</div>

